name: homebrew

on:
  release:
    types:
      - published

jobs:
  bump-formula:
    name: bump homebrew formula
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Update Homebrew formula
        uses: mislav/bump-homebrew-formula-action@v3
        with:
          formula-name: relay
          homebrew-tap: jdblackstar/homebrew-tap
        env:
          COMMITTER_TOKEN: ${{ secrets.HOMEBREW_TAP_TOKEN }}
